/* line 39, apidoc.scss */
html {
  overflow-y: scroll; }

/* line 43, apidoc.scss */
ul,
li {
  list-style: none;
  padding-left: 0; }

/* line 49, apidoc.scss */
table {
  margin: 0 10px 0;
  font-weight: 500; }

/* line 54, apidoc.scss */
thead {
  border-bottom-style: solid;
  border-color: #d2d2d2;
  border-bottom-width: 1px;
  color: #787878;
  font-size: 11px; }

/* line 62, apidoc.scss */
tbody {
  color: #333333;
  font-size: 14px; }

/* line 67, apidoc.scss */
td {
  padding-top: 0;
  padding-bottom: 4px; }

/* line 72, apidoc.scss */
td:first-child {
  padding-top: 4px; }

/* line 76, apidoc.scss */
li.resource-item:not(:first-child) {
  border-top-color: #d2d2d2;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 10px; }

/* line 83, apidoc.scss */
.resource-heading {
  color: #787878;
  font-size: 16px;
  font-weight: bold;
  overflow: auto;
  margin-bottom: 10px; }

/* line 91, apidoc.scss */
.resource-heading a {
  color: #333333; }

/* line 95, apidoc.scss */
.resource-ctrls a {
  font-size: 14px;
  font-weight: normal; }

/* line 100, apidoc.scss */
.endpoint-heading {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  margin-bottom: 10px; }

/* line 107, apidoc.scss */
.operator {
  border-radius: 5px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding-top: 7px;
  text-align: center;
  width: 50px;
  height: 30px; }

/* line 118, apidoc.scss */
a:link.operator,
a:visited.operator,
a:hover.operator,
a:active.operator {
  text-decoration: none; }

/* line 126, apidoc.scss */
.endpoint-path {
  font-size: 14px;
  padding-top: 5px;
  margin-left: 10px; }

/* line 132, apidoc.scss */
a.endpoint-path {
  color: #333333; }

/* line 136, apidoc.scss */
.endpoint-desc {
  padding-top: 5px;
  margin-right: 10px; }

/* NOTE: .collapse does not like padding on the
   animated div. Don't do it, or will look wonky */
/* line 143, apidoc.scss */
.endpoint-content {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  margin-top: -11px; }

/* line 151, apidoc.scss */
.endpoint-content h1 {
  font-size: 14px;
  margin-left: 10px; }

/* line 156, apidoc.scss */
.endpoint-content h2 {
  color: #787878;
  font-size: 13px;
  margin-left: 10px; }

/*
 * styling for the POST operator type
 */
/* line 166, apidoc.scss */
.post {
  background-color: #e7f6ec;
  border-color: #c3e8d1; }

/* line 171, apidoc.scss */
.post .operator {
  color: #fafafa;
  background-color: #10a54a; }

/* line 176, apidoc.scss */
.post .endpoint-desc {
  color: #10a54a; }

/* line 180, apidoc.scss */
.post .endpoint-content h1 {
  color: #10a54a; }

/*
 * styling for the PUT operator type
 */
/* line 188, apidoc.scss */
.put {
  background-color: #f9f2e9;
  border-color: #f0e0ca; }

/* line 193, apidoc.scss */
.put .operator {
  color: #fafafa;
  background-color: #c5862b; }

/* line 198, apidoc.scss */
.put .endpoint-desc {
  color: #c5862b; }

/* line 202, apidoc.scss */
.put .endpoint-content h1 {
  color: #c5862b; }

/*
 * styling for the GET operator type
 */
/* line 210, apidoc.scss */
.get {
  background-color: #e7f0f7;
  border-color: #c3d9ec; }

/* line 215, apidoc.scss */
.get .operator {
  color: #fafafa;
  background-color: #0f6ab4; }

/* line 220, apidoc.scss */
.get .endpoint-desc {
  color: #0f6ab4; }

/* line 224, apidoc.scss */
.get .endpoint-content h1 {
  color: #0f6ab4; }

/*
 * styling for the DELETE operator type
 */
/* line 232, apidoc.scss */
.delete {
  background-color: #f5e8e8;
  border-color: #e8c6c7; }

/* line 237, apidoc.scss */
.delete .operator {
  color: #fafafa;
  background-color: #a41e22; }

/* line 242, apidoc.scss */
.delete .endpoint-desc {
  color: #a41e22; }

/* line 246, apidoc.scss */
.delete .endpoint-content h1 {
  color: #a41e22; }

/*
 * These are the return lozenges
 */
/* line 254, apidoc.scss */
.return {
  border-radius: 3px;
  color: #e6e6e6;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  padding-top: 0;
  text-align: center;
  width: 75px;
  height: 16px; }

/* line 266, apidoc.scss */
.ok {
  background-color: #14892c; }

/* line 270, apidoc.scss */
.err {
  background-color: #d04437; }

/*
 * My JSON styling. Provides indentation,
 * a background, and monospaced font stack. NOTE: the font
 * stack is based on bootstrap.min.css:5. This could change
 * so if re update the bootstrap... check this.
 */
/* line 282, apidoc.scss */
.json {
  background-color: #fafafa;
  border-width: 1px;
  border-color: #d2d2d2;
  border-style: solid;
  display: inline-block;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px; }

/* line 295, apidoc.scss */
.json div {
  margin-left: 10px;
  color: #333333;
  font-size: 13px;
  font-weight: 500;
  background-color: inherit; }

/*
 * separate style for data models.
 */
/* line 306, apidoc.scss */
.json-model {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px; }

/* line 312, apidoc.scss */
.json-model div {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500; }

/* line 317, apidoc.scss */
.propName {
  color: #333333;
  font-weight: 700; }

/* line 322, apidoc.scss */
.propType {
  color: #5555aa;
  font-weight: 500; }

/* line 327, apidoc.scss */
.propOpt {
  color: #333333;
  font-style: italic; }

/*# sourceMappingURL=apidoc.css.map */

.param-item{
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: 0 10px 0;
	/* max-width: 900px;*/
	
}
.param {
	display: table-cell;
	vertical-align: top;
	padding: 0 20px 5px 0;
	font-size: 14px;
}

.name {
	width: 15%;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.reqd {
	width: 15%;
}
.desc {
	width: 35%;
}
.data {
	width: 20%
}
.default {
	width: 15%
}
.head {
	border-color: #d2d2d2;
	border-width: 0;
	border-bottom-width: 1px;
	border-style: solid;
	color: #787878;
	font-size: 11px;
	font-weight: 700;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
}
.response-item {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: 0 10px 0;
	max-width: 600px;
}
.response {
		display: table-cell;
		vertical-align: top;
		padding: 0 20px 5px 0;
		font-size: 14px;
}
.code {
	font-size: 11px;
  font-weight: 700;
  padding-top: 4px;
  width: 75px;
	vertical-align: top;
}
.note {
	padding-left: 20px;
}