/* line 39, APIDoc.scss */
html {
  overflow-y: scroll; }

/* line 43, APIDoc.scss */
ul,
li {
  list-style: none;
  padding-left: 0; }

/* line 49, APIDoc.scss */
table {
  margin: 0 10px 0;
  font-weight: 500; }

/* line 54, APIDoc.scss */
thead {
  border-bottom-style: solid;
  border-color: #d2d2d2;
  border-bottom-width: 1px;
  color: #787878;
  font-size: 11px; }

/* line 62, APIDoc.scss */
tbody {
  color: #333333;
  font-size: 14px; }

/* line 67, APIDoc.scss */
td {
  padding-top: 0;
  padding-bottom: 4px; }

/* line 72, APIDoc.scss */
td:first-child {
  padding-top: 4px; }

/* line 76, APIDoc.scss */
li.resource-item:not(:first-child) {
  border-top-color: #d2d2d2;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 10px; }

/* line 83, APIDoc.scss */
.resource-heading {
  color: #787878;
  font-size: 16px;
  font-weight: bold;
  overflow: auto;
  margin-bottom: 10px; }

/* line 91, APIDoc.scss */
.resource-heading a {
  color: #333333; }

/* line 95, APIDoc.scss */
.resource-ctrls a {
  font-size: 14px;
  font-weight: normal; }

/* line 100, APIDoc.scss */
.endpoint-heading {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  margin-bottom: 10px; }

/* line 107, APIDoc.scss */
.operator {
  border-radius: 5px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding-top: 7px;
  text-align: center;
  width: 50px;
  height: 30px; }

/* line 118, APIDoc.scss */
a:link.operator,
a:visited.operator,
a:hover.operator,
a:active.operator {
  text-decoration: none; }

/* line 126, APIDoc.scss */
.endpoint-path {
  font-size: 14px;
  padding-top: 5px;
  margin-left: 10px; }

/* line 132, APIDoc.scss */
a.endpoint-path {
  color: #333333; }

/* line 136, APIDoc.scss */
.endpoint-desc {
  padding-top: 5px;
  margin-right: 10px; }

/* NOTE: .collapse does not like padding on the
   animated div. Don't do it, or will look wonky */
/* line 143, APIDoc.scss */
.endpoint-content {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  margin-top: -11px; }

/* line 151, APIDoc.scss */
.endpoint-content h1 {
  font-size: 14px;
  margin-left: 10px; }

/* line 156, APIDoc.scss */
.endpoint-content h2 {
  color: #787878;
  font-size: 13px;
  margin-left: 10px; }

/*
 * styling for the POST operator type
 */
/* line 166, APIDoc.scss */
.post {
  background-color: #e7f6ec;
  border-color: #c3e8d1; }

/* line 171, APIDoc.scss */
.post .operator {
  color: #fafafa;
  background-color: #10a54a; }

/* line 176, APIDoc.scss */
.post .endpoint-desc {
  color: #10a54a; }

/* line 180, APIDoc.scss */
.post .endpoint-content h1 {
  color: #10a54a; }

/*
 * styling for the PUT operator type
 */
/* line 188, APIDoc.scss */
.put {
  background-color: #f9f2e9;
  border-color: #f0e0ca; }

/* line 193, APIDoc.scss */
.put .operator {
  color: #fafafa;
  background-color: #c5862b; }

/* line 198, APIDoc.scss */
.put .endpoint-desc {
  color: #c5862b; }

/* line 202, APIDoc.scss */
.put .endpoint-content h1 {
  color: #c5862b; }

/*
 * styling for the GET operator type
 */
/* line 210, APIDoc.scss */
.get {
  background-color: #e7f0f7;
  border-color: #c3d9ec; }

/* line 215, APIDoc.scss */
.get .operator {
  color: #fafafa;
  background-color: #0f6ab4; }

/* line 220, APIDoc.scss */
.get .endpoint-desc {
  color: #0f6ab4; }

/* line 224, APIDoc.scss */
.get .endpoint-content h1 {
  color: #0f6ab4; }

/*
 * styling for the DELETE operator type
 */
/* line 232, APIDoc.scss */
.delete {
  background-color: #f5e8e8;
  border-color: #e8c6c7; }

/* line 237, APIDoc.scss */
.delete .operator {
  color: #fafafa;
  background-color: #a41e22; }

/* line 242, APIDoc.scss */
.delete .endpoint-desc {
  color: #a41e22; }

/* line 246, APIDoc.scss */
.delete .endpoint-content h1 {
  color: #a41e22; }

/*
 * These are the return lozenges
 */
/* line 254, APIDoc.scss */
.return {
  border-radius: 3px;
  color: #e6e6e6;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  padding-top: 0;
  text-align: center;
  width: 75px;
  height: 16px; }

/* line 266, APIDoc.scss */
.ok {
  background-color: #14892c; }

/* line 270, APIDoc.scss */
.err {
  background-color: #d04437; }

/*
 * My JSON styling. Provides indentation,
 * a background, and monospaced font stack. NOTE: the font
 * stack is based on bootstrap.min.css:5. This could change
 * so if re update the bootstrap... check this.
 */
/* line 282, APIDoc.scss */
.json {
  background-color: #fafafa;
  border-width: 1px;
  border-color: #d2d2d2;
  border-style: solid;
  display: inline-block;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px; }

/* line 295, APIDoc.scss */
.json div {
  margin-left: 10px;
  color: #333333;
  font-size: 13px;
  font-weight: 500;
  background-color: inherit; }

/*
 * separate style for data models.
 */
/* line 306, APIDoc.scss */
.json-model {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px; }

/* line 312, APIDoc.scss */
.json-model div {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500; }

/* line 317, APIDoc.scss */
.propName {
  color: #333333;
  font-weight: 700; }

/* line 322, APIDoc.scss */
.propType {
  color: #5555aa;
  font-weight: 500; }

/* line 327, APIDoc.scss */
.propOpt {
  color: #333333;
  font-style: italic; }

/*# sourceMappingURL=APIDoc.css.map */
